<section class="Singup-wrap mtb-40">
  <div class="container">
      <div class="row justify-content-center" *ngIf="!error">
        <div class="col-md-6">
            <div class="login-box">
                <h1>User Registration</h1>
                <div class="alert alert-success" *ngIf="datasaved">
                   {{massage}}
                </div>
                <form  (ngSubmit)="onSubmit(regForm)" [formGroup]="regForm">
                    
                    <div class="form-group form-row">
                        <label class="col-md-3"> ID : <span class="required">*</span></label>
                        <div class="col-md-9">
                          <input type="text" formControlName="AppID" class="form-control" placeholder="Name" required>
                          <span *ngIf="!regForm.get('AppID').valid && regForm.get('AppID').touched">Please enter  Name !!!</span>
                        </div>
                    </div>
                
                    <div class="form-group form-row">
                        <label class="col-md-3">Key : <span class="required">*</span></label>
                        <div class="col-md-9">
                          <input type="text" formControlName="MerchantKey" class="form-control" placeholder="Mobile No." required>
                          <span *ngIf="!regForm.get('MerchantKey').valid && regForm.get('MerchantKey').touched">Please enter Mobile No. !!!</span>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <label class="col-md-3">More ID <span class="required">*</span></label>
                        <div class="col-md-9">
                          <input type="text" formControlName="MdtID" class="form-control" placeholder="Email Id" required>
                          <span *ngIf="!regForm.get('MdtID').valid && regForm.get('MdtID').touched">Please enter First Name !!!</span>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <label class="col-md-3">Password <span class="required">*</span></label>
                        <div class="col-md-9">
                          <input type="text" formControlName="Type" class="form-control" placeholder="Password" required>
                          <span *ngIf="!regForm.get('Type').valid && regForm.get('Type').touched">Please enter First Name !!!</span>
                        </div>
                    </div>
                
                    <div class="form-group">
                        <button type="submit" [disabled]="!regForm.valid" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>         
        </div>
      </div>
     
  </div>
</section>